In [1]:
import pandas as pd 
import sys
import pyodbc as odbc

In [2]:
cnxn = odbc.connect('Driver={SQL Server};'
                    'Server=DESKTOP-S40OV4H;'
                    'Database=Sum_capstone_proj;'
                    'Trusted_Connection=yes;')

In [4]:
cursor = cnxn.cursor()

In [13]:
#Create Table of scaled input values - head 50k rows
#Note - CANNOT put too many attributes, had to cut down by removing no longer needed attributes
cursor.execute('''
                CREATE TABLE diamonds_shuf69sclnzparm_50k
                (depth_scaled float,
                 table_scaled float,
                 cut_scaled float,
                 color_scaled float,
                 clarity_scaled float,
                 carat_scaled float,
                 price_USD float,
                 index_org float,
                )
''')
cnxn.commit()

In [9]:
#Create Table of scaled input values - tail 3940 rows
#Note - CANNOT put too many attributes, had to cut down by removing no longer needed attributes
cursor.execute('''
                CREATE TABLE diamonds_shuf69sclnzparm_tail_3940
                (depth_scaled float,
                 table_scaled float,
                 cut_scaled float,
                 color_scaled float,
                 clarity_scaled float,
                 carat_scaled float,
                 price_USD float,
                 index_org float,
                )
''')
cnxn.commit()

In [14]:
#Create Parameter_Score_Table
cursor.execute('''
                CREATE TABLE ML_Parameter_Score_05oct
                (Model text,
                 Training_Time_40k_rows float,
                 Test_Time_10k_rows float,
                 Train_r2_score float,
                 Test_r2_score float,
                 Test_MSE float,
                 Test_MAE float,
                )
''')
cnxn.commit()

In [15]:
#Create Parameter_Score_Table
cursor.execute('''
                CREATE TABLE ML_Predictions_Score_05oct
                (Model text,
                 Prediction_Time_3940_rows float,
                 Prediction_r2 float,
                 Prediction_MSE float,
                 Prediction_MAE float,
                )
''')
cnxn.commit()

In [18]:
#Read the consolidated Parameter score table, read straight from SQL
dataset=pd.read_sql_query('SELECT * FROM ML_Parameter_Score_05oct', cnxn)
dataset

,Model,Training_Time_40k_rows,Test_Time_10k_rows,Train_r2_score,Test_r2_score,Test_MSE,Test_MAE
0,LinearRegression,0.006981,0.002963,0.905271,0.899860,1.560525e+06,859.529029
1,RandomForestRegressor(MSE),6.758118,0.229131,0.997200,0.981471,2.887520e+05,276.953759
2,RandomForestRegressor(MAE),669.721569,0.219202,0.996932,0.982073,2.793685e+05,274.169625
3,"KNeighborsRegressor(n=08,weights=distance)",0.078691,0.290651,0.999809,0.963943,5.618965e+05,405.214472
4,"KNeighborsRegressor(n=08,weights=uniform)",0.086803,0.282770,0.968564,0.959160,6.364276e+05,451.148425